<!DOCTYPE html>
<html>
<head>
    <title>Climate Change</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>co to są zmiany klimatyczne?</h1>
    <section>
        <h2>Zmiany klimatyczne to jest globalne ocieplenie świata, to znaczy rosnące temperatury globalny, powietrza i oceanów.</h2>
    </section>
    <img src="/static/images/globe.png" width="500" height="500" class="center">
    <i>"Ale czemu to jest złe?"</i>
    <ul>
        <section>
            <h3>zmiany klimatyczne drastyczne zmienia klimat w którym ludzie żyją, na przykład;</h3>
            <h4>*Od 2010 roku, temperatury wzrosły o 10C co może mieć konsekencje na póżniejsze generacje.</h4>
            <h4>*Zanieczyszczenia w powietrzu robią trudniej i trudniej żeby oddychać czyste powietrze.</h5>
            <h4>*wiele badiań mówi że możemy nie mieć czystej pitnej wodny to pića w przyszłości.</h6>

        </section>
        <img src="/static/images/tree.png" width="400" height="500" class="center">

    </ul>
    <section>
        <h1>Żeby takiej przyszłości zapobiec, możemy robić różne rzeczy!</h1>
    </section>
    <h4>*Recygling to jest jeden z sposobów, to używa zużyte śmieci żeby stworzyć coś nowego.</h4>
    <h4>*Zbadanie potencjalnych rozwiązań ma zasadnicze znaczenie dla rozwiązania tej krytycznej kwestii.</h4>
    <h4>*Zmienianie na energie wiatrową też jest jeden z rozwiązań.</h4>
    <section>
        <img src="/static/images/work.gif" width="300" height="400" class="center">
    </section>
    <h2>Znasz już troche więcej o zmianach klimatycznych, tutaj jest quiz.</h2>
</body>

</html>